body {
    background-color: black;
    font-family: Verdana;
    text-align: center;
}
.header {
  font-family: Verdana;
  font-size: 50px;
  color: white;
  text-align:center;
}

.coming_soon {
  color: aquamarine;
  font-size: 16px;
  text-align: center;
}
h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}
h3 {
  font-size: 21px;
  color: gray;
}
